/***************************************GENERAL****************************************/

*{/***pour toute la page***/
  box-sizing: border-box;
  font-size: 16px;/****mettre toutes les polices a 16px****/
  margin: 0;/****enleve la marge exterieur*(rezet)****/
  padding: 0;/****enleve la marge interieur*(rezet)****/
}

/**************************************BODY**********************************************/

body {/*** pour la partie body de la page***/
  margin: 0 auto;/*** mise de la marge exterieur***/
  max-width: 1440px;/***taille max de l'ecran***/
  font-family: 'raleway' , sans-serif;}

/**************************************MAIN**********************************************/

main {padding: 0px 50px;}/***partie main de la page***/

h1,h2 {font-size: 22px;}
a {font-size: 14px;
  text-decoration: none;
  color:#000000;}

.flex { display: flex;}

.row {flex-direction: row;}
.column {flex-direction: column;}

.between {justify-content: space-between;}
.center {justify-content: center;}
.around {justify-content: space-around}

.gras {font-weight: 700;}
.normal {font-weight: 400;}

.color1 {color: #000000;}
.color2 {color: #0065fc;}
.color3 {color: #f2f2f2;}
.color4 {color: white }

.bcolor1 {background-color: #000000;}
.bcolor2 {background-color: #0065fc;}
.bcolor3 {background-color: #f2f2f2;}

.etoile { 
  display: flex; 
  flex-direction: row;
  width: 81px;
  height: 13.25px;}
/*.none { border:none;}*/

/****************************************HEADER******************************************/
nav {
  display: flex;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 950px;
 /* align-self: stretch;*/}
.nav-img {
  width: 61.09px;
  height: 19px;
  margin: 30px 50px;}
.menu-bouton {
  display: inline-flex;
  gap: 68px;}
.menu {
  align-items: center;
  text-decoration :none;
  cursor: pointer;
  padding: 15px 0;
  border-top: white solid 2px;/*rajout du trait blanc*/}

.menu:hover,.menu:focus {
  color: #0065fc;
  border-top: #0065fc solid 2px;}

/************************************FILTRES***********************************************/
.info-group {
  width: 100%;
  flex-direction: column;
  gap: 35px;}

/*-------titre-------*/
.titre {
  display: flex;
  flex-direction: column;
  width: 1340px; 
  height: 50px;
  gap: 8px;}
.titre-h1 { 
  width: 1340px; 
  height: 26px;}
.ville{ 
  width: 1340px; 
  height: 19px;}

/*-----recherche-----*/
.recherche { 
  display: inline-flex;
  width: 377px;
  height: 49px;
  border-radius: 15px;
  border: 1px;
  /*margin: 20px 0 10px 0;*/}
.recherche div, .recherche input { 
  height: 100%;}
.recherche input { 
  display: block;} 
.dot {
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 100%;}
.france {
  width: 195px;
  font-size: 18px;
  border: 1px solid #f2f2f2;
  text-align: center;}  
.bouton {
  width: 132px;
  font-size: 18px;
  border: 1px solid #0065fc;
  border-radius: 0 15px 15px 0;
  cursor: pointer;}

/*-----filtrages-----*/
.filtrages {
  width: 758px;
  height: 50px;
  /*margin: 20px 0 10px 0;*/
  font-size:18px;}
.filtrages ul {
    display: flex;
    align-items: center;
    padding: 0;}
.puces {
  list-style-type: none;}
.filtre-titre {
  margin-right: 30px;
  border:none;}
.filtrage-icon {
    width: 95%;}
.filtrage-icon li {
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 100%;
    padding: 4px 19px;
    margin-left: 10px;}
.filtrage-icon li:hover {
  background-color: #DEEBFF;}

/*----informations---*/
.information {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 10px;
  align-self: stretch;}
.information i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding:5px 10px;
  margin-right: 5px;}

  /**************************************HEBERGEMENTS-POPULAIRES*****************************/

.hebergements-populaires { 
  display: flex;
  width: 1340px;
 /* height: 614px;*/
  padding: 30px;
  gap: 30px;}

.article {  
  width: 30%;}

/****HEBERGEMENTS****/
.hebergements {
  width: 65%;
  padding: 30px;
  border-radius: 15px;}
.hebergements-marseille { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;}
.cliquable-hebergements {
  text-decoration: none;
  color: #000000;}
.marseille-titre {
  width: 811px;
  height: 26px;
  align-self: stretch;}
.hebergements-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 212px;
  background-color: #fff;
  border-radius: 20px;
  margin: 15px 0;
  padding: 5px;
  gap: 4px;} 
.cliquable-hebergements .hebergements-card {
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);} 
.hebergements-card img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;}
.hebergements-card .card-titre { 
  font-size: 16px;}
.hebergements-card .card-sous-titre { 
  font-size: 14px;}
.hebergements-card .card-content {
  width: 67%;
  padding: 0 15px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;} 
.hebergements-card .card-texte {
  margin-top: 10px;
  margin-bottom: 4px;}
.hebergements-card .card-sous-titre { 
    margin: 0;}
.populaires-card .etoile {
    margin: 10px 0;}
.afficher-plus {
  color: #000000;
  font-size: 18px;
  width: 811px;
  height: 21px;
  font-weight: 700;
  margin: 30px;}
  
/****POPULAIRES****/
.populaires { 
  width: 32%;
  /*width: 429px;*/
  padding: 30px;
  border-radius: 15px;}
.populaires-card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);}
.populaires-card img { 
  object-fit: cover;}
.populaires-card .card-titre { 
  font-size: 16px;}
.populaires-card .card-sous-titre { 
  font-size: 14px;}
.populaires-titre {
  display: flex;
  justify-content: space-between;}
.populaires-card {
  display: flex;
  margin-top: 33px;}
.populaires-card img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;}
.populaires-card .card-content {
  width: 67%;
  padding:10px 5px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;} 
.populaires-card .card-texte {
  margin-top: 10px;
  margin-bottom: 4px;}  
.populaires-card .etoile { 
  margin-bottom: 5px;}

  /***************************************ACTIVITES****************************************/
.activites {
  width: 1340px;
  height: 559.02px;
  padding: 30px;
  gap: 30px;}
.activites-general {
  padding: 30px;}
.activites-titre-principal {
  width: 1280px;
  height: 30.019px;}
.activites-fenetre {
  display: flex;
  width: 1280px;
  height: 439px;
  gap: 30px;}
.cliquable-activites {
  width: 25%;}
.activites-article {
  margin: 30px 0 40px 0;
  border-radius: 20px;
  box-shadow: 1px 1px 17px -9px rgba(0, 0, 0, 0.75);
  overflow: hidden;}
.activites-titre-h3 {
  display: flex;
  padding: 10px 19px;
  font-size: 16px;
  font-weight: 700;
  gap: 10px;}
.activites-div-img {
  width: 297.5px;
  /*width: 100%;*/
  height: 380px;
  border-bottom: 1px solid #f2f2f2 ;
  border-radius: 20px;}
.image {
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0 0;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;}
  
/****************************************FOOTER******************************************/
footer {
  display: flex;
  width: 1340px;
  height: 163px;}
.footer-texte {
  flex-flow: column nowrap;
  width: 446.67px;
  height: 163px;
  padding: 20px;}
.footer-texte h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;}
.footer-texte a {
  display: flex;
  flex-flow: column nowrap;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;}
.footer-texte ul {
  padding: 15px 0;}
.footer-texte li {
  list-style: none;
  padding: 5px 0;}